/*переменная для фонового цвета блока*/
/*переменная для цвета текста блока*/
div {
  background-color: #aa5a5a;
  color: #eee;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*переменная - имя селектора*/
.border {
  border: 5px dotted #eee;
}
#center {
  padding: 10px;
}
/*переменная - путь*/
.image {
  background: url("img/111.png");
  border: 5px dotted #eee;
  background-size: cover;
  background-position: right;
}
