/*создаем переменную с названием цвета, в котором есть дефис*/
@bgColor:dark-orange;
div{
    /*использу функцию replace заменим символ дефиса на пустой символ*/
    background-color: replace(@bgColor,'-','');
    width: 300px;
    height: 200px;
}