/* используя функцию each для каждого значения:1,2,3 (полученного функцией range)*/
.cell-1 {
  /*задачем ширину, которая зависит от значения*/
  width: 15vw;
}
.cell-2 {
  /*задачем ширину, которая зависит от значения*/
  width: 30vw;
}
.cell-3 {
  /*задачем ширину, которая зависит от значения*/
  width: 45vw;
}
div {
  background-color: #104c4c;
}
