/*создаем переменную с названием цвета, в котором есть дефис*/
div {
  /*использу функцию replace заменим символ дефиса на пустой символ*/
  background-color: darkorange;
  width: 300px;
  height: 200px;
}
