main p:first-child{
    font-family: 'Times New Roman', cursive;
    color: blue;
    font-weight: bold;
    border-bottom: 2px double #2c5dcc;
}
main p:nth-child(5){
    color: rgb(255, 153, 0);
    font-style: italic;
}
main p:nth-child(3n){
    color: #f00;
    
}
main p:last-child{
    padding: 15px;
    background-color: chartreuse;
    border-left: 3px double rgb(106, 30, 168);
}
mark:only-child{
    background-color: aqua;
    color: #f00;
    padding: 3px;
    font-family: sans-serif;
    font-style: italic;
} 
.elem{
    color: rgb(65, 207, 113);
    text-transform: uppercase;
    background-color: rgb(211, 44, 94);
}  
.elem:only-child{
    font-weight: bold;
}