.warning, .text{
    font-size: 14px;
}
.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 900;
}
#warning2{
    font-weight: bold;
}
.red{
    color: red;
}
p[align="center"]{
    font-weight: bold;
}
p b{
    color: rgb(235, 41, 193);
}
.main .not-main{
    color: rgb(109, 85, 243);
}
div>i{
    color: purple;
}